// Import page-specific CSS files here.
@import "home";

.container  {
  margin-top: 5px;
  .articles{
    display: flex;
    flex-direction: column;
    width: 640px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    align-items: center;
  }
  .card{
    border:2px solid black;
  }
}

.post-title {
  font-size: 3em;
}

.post-title a {
  color: inherit;
  text-decoration: none;
}

.btn {
  border-radius: 0;
}

.pager li>a {
  color: inherit;
  border-radius: 0;
  border: 0;
  padding: 0.9em 1.4em;
}
