<div class="container">
  <div class="create"></div>
  <div class="center-articles">
    <div class="articles">
      <% @articles.each do |article|%>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src= <%=article.background%> alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=article.title%></h5>
          <%=link_to "Read", article_path(article.id)%>
        </div>
        </div>
      <%end%>
    </div>

  </div>
</div>
