<%# top page navbar with link to home page at left side, search form at middle and a little big and login signup at end of right side without bootstrap %>
<nav class= "my-navbar">
  <div class="my-navbar-left">
    <%= link_to root_path do%>
      <h3>Blog</h3>
    <%end%>
  </div>

  <div class="my-navbar-middle">
    <%= form_tag articles_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type the article"
      %>
    <%= submit_tag "Search", name: "", class: "yellow-button" %>
    <% end %>
  </div>


</nav>
