 <article class="active-info">
    <div class="content">
      <h3> active discussions </h3>
      <hr>
    </div>
    <div class="content">
      <h4>Apple is selling its contested Watch models </h4>
      <p>37 comments</p>
    </div>
  </article>
  <article class="active-info">
    <div class="content">
      <h4>The Apple Watch import ban is paused – for now</h4>
      <p >37 comments</p>
    </div>
  </article>
  <article class="active-info">
    <div class="content">
        <h4>The Apple Watch import ban is paused</h4>
      <p>37 comments</p>
    </div>
  </article>
