.yellow-button {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: #fff;

  &:hover {
    background-color: #f39c12;
    border-color: #383735;
    color: #fff;
  }
}

.nav-img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


.my-navbar {
  top: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;

  .my-navbar-left {
    flex: 0.5;
    justify-content: flex-start;
  }

  .my-navbar-right {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .my-navbar-right-item {
      margin-left: 20px;
    }
  }

  .my-navbar-middle {
    // change form to be widder
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }
}

.rounded-red-button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: #c0392b;
    border-color: #c0392b;
    color: #fff;
  }
}

.green-button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #27ae60;
    border-color: #27ae60;
    color: #fff;
  }
}

.form-mine {
  padding: 10px 0;
  width: 60%;

  .form-control {
    width: 100%;
  }
}

.logo {
  display: flex;
}
